.chatgpt-code-previewer .iframe-parent {
  position: relative;
}

/* Hide the horizontal scrollbar when the iframe is visible. */
.chatgpt-code-previewer .iframe-parent:has(iframe:not(.-hide)) {
  overflow: hidden;
}

.chatgpt-code-previewer iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid #ddd;
  /* Match the outside container rounded corner. */
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
}

.chatgpt-code-previewer iframe.-hide {
  display: none;
}

.chatgpt-code-previewer .control-row {
  justify-content: stretch;
  gap: 2em;
}

.chatgpt-code-previewer .control-title {
  flex: 1;
}

.chatgpt-code-previewer button {
  flex: 0;
}

.chatgpt-code-previewer form:has(.codepen) {
  display: contents;
}

.chatgpt-code-previewer .codepen {
  color: inherit;
  text-decoration: none;
  font: inherit;
  line-height: 1;
}

/* Toggle */

.chatgpt-code-previewer .toggle {
  display: flex;
  line-height: 1;
  align-items: center;
}

.chatgpt-code-previewer .switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

.chatgpt-code-previewer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.chatgpt-code-previewer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.chatgpt-code-previewer .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}

.chatgpt-code-previewer input:checked + .slider {
  background-color: #2196F3;
}

.chatgpt-code-previewer input:checked + .slider:before {
  transform: translateX(16px);
}

.chatgpt-code-previewer .slider.round {
  border-radius: 16px;
}

.chatgpt-code-previewer .slider.round:before {
  border-radius: 50%;
}

.chatgpt-code-previewer .label-text {
  font-size: 12px;
  margin: 0 6px;
  color: #d9d9e3;
}
